
.box {
    height: 400px;
    width: 225px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    font-family: 'Damion', cursive;
    text-align: center;
    background-image: -webkit-radial-gradient(center, transparent 0%,hsla(0, 0%, 0%, 0.2) 65%,hsla(0, 0%, 0%, 0.4) 100%),
        -webkit-linear-gradient(transparent 40%,hsla(0, 0%, 0%, 0.3) 75%,hsla(0, 0%, 0%, 0.3) 100%);
}

.box>.name {
    clear: both;
    text-align: center;
    font-size: 60px;
    top: 80px;
}

.reverb {
    background-color: hsl(204, 41%, 24%);
}

.overdrive {
    background-color: hsl(90, 67%, 40%);
}

.volume {
    background-color: hsl(50, 60%, 47%);
}

.convo {
    background-color: hsl(326, 64%, 37%);
}
