
.box {
    height: 400px;
    width: 225px;
    border-radius: 10px;
    background: green;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    color: white;
    font-family: 'Damion', cursive;
    text-align: center;
}

.box>.name {
    clear: both;
    text-align: center;
    font-size: 60px;
    top: 80px;
}

.reverb {
    background: #244256;
}

.overdrive {
    background: #66ab22;
}

.volume {
    background: #333322;
}

.convo {
    background: #9a2266;
}