body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 100px
}

.box {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background: green;
    margin: 20px;
    padding: 20px;
    float: left;
    color: white;
    font-family: 'Damion', cursive;
    text-align: center
}

.box>.name {
    clear: both;
    text-align: center;
    font-size: 66px;
    top: 120px
}

.pots {
    display: inline-block
}

.pot {
    float: left;
    font-size: 28px;
    text-align: center;
    margin: 10px
}

.knob {
    height: 126px;
    width:127px;
    background: url('../img/pot-small.png');
}

.reverb {
    background: #244256;
}

.overdrive {
    background: #66ab22;
}

.volume {
    background: #333322;
}

.convo {
    background: #9a2266;
}