.switch {
    cursor: pointer;
    margin: 1vh;
    text-align: center;
    display: inline-block;
}

.button {
    height: 8vh;
    width: 8vh;
}

.switches {
    position: absolute;
    bottom: 2vh;
    left: 0;
    width: 100%;
}

.pot {
    display: inline-block;
    font-size: 3vh;
    text-align: center;
    margin: 1vh;
}

.knob {
    height: 8vh;
    width: 8vh;
}

.pot .name {
    top: 4vh
}

.knobHolder {
    border-radius: 50%;
    background-color: #333;
    height: 8vh;
    widows: 8vh;
}
