html, body { height: 100%; width: 100%; overflow: hidden; }

body { color: white; background: black; min-width: 800px; min-height: 640px; }

.pedalboard {
    position: relative; height: 250px; width: 100%; top: 0; left: 0; text-align: center;
}
